@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2 class="text-primary">School Management System (SMS)</h2>
    <p> Your success is our priority. </p>
</div>


<div class="row">
    <div class="col-md-6">
        <h2>Courses</h2>
        <p>
            Use this option to view all course and offerings at this institution
        </p>
        <button type="button" class="btn btn-default"> @Html.ActionLink("Learn More", "Index", "Courses")</button>
</div>
    <div class="col-md-6">
        <h2>Students</h2>
        <p>
            View all students that are enrolled at this institution
        </p>
        <button class="btn btn-default"> @Html.ActionLink("All Students", "Index", "Students")</button>
    </div>
   
</div>